mixin footer()
  footer.footer.text-center
    .container
      span.text-muted &copy; Smoothbrains 2021. This website is open-source and licensed under CC-1.0. Feel free to hop over to the #[a(href="https://github.com/Smoothbrains-xyz/orbital.smoothbrains.xyz" target="_blank") GitHub] page to make a modification!
