mixin navbar(active)
  nav(data-aos="zoom-out").navbar.navbar-expand-md.navbar-dark
    div.container-fluid
      a(href="/").navbar-brand 
        img(src="/static/icon.png" width="30" height="30").d-inline-block.align-top
        span Orbital
      button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent").navbar-toggler
        span.navbar-toggler-icon
      div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a(href="/orbital" class=active === "home" ? "active" : "").nav-link Home
          li.nav-item
            a(href="/orbital/dashboard" class=active === "dashboard" ? "active" : "").nav-link Dashboard
          li.nav-item
            a(href="/orbital/premium" class=active === "premium" ? "active" : "").nav-link.link-warning Premium
        ul.navbar-nav.flex-row.flex-wrap.ms-md.auto
          li.nav-item.col-6.col-md-auto
            a(target="_blank" href="https://github.com/smoothbrains-xyz/orbital").nav-link.link-light.p-2
              i.bi.bi-github
          li.nav-item.col-6.col-md-auto
            a(target="_blank" href="https://adat.link/orbital").nav-link.link-light.p-2
              i.bi.bi-download
          li.nav-item.col-6.col-md-auto
            a(target="_blank" href="https://adat.link/smoothbrains").nav-link.link-light.p-2
              i.bi.bi-discord
